﻿body {
    background: url("Images/leopard_login_background.jpg") no-repeat center center fixed;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    overflow: scroll;
}

.parent {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center; 
    overflow: auto;   
}

.login-input {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    margin-left: 15px;
    margin-top: 10px;
    padding-left: 5px;   
    letter-spacing: 1px;
    font-family:'Times New Roman', serif;
    cursor: pointer;
}
.login-input:focus {
    cursor: text;
}

.login-background {
    background: url('Images/login_background.png');    
}
.password-background {
    background: url('Images/password_background.png');
}

.init-text {
    letter-spacing: 1px;
    margin-top: 25px;
}
.btn {

    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    border-color: #3498db; 
    font-family: Georgia;
    color: #ffffff;
    font-size: 20px;
    background: #3498db;
    padding: 10px 30px 10px 30px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 20px;
}

.btn:hover {
  background: #edb832;
  border-color: #edb832; 
  text-decoration: none;
}