#basketid {		
	position: absolute;
	top: 60%;
	right: 30%;
}
#tblheader {
	background-color: red;
	font-weight: bold;
}
#orderid {
	position: relative;
	right: 20%;
	top: -300px;
}
.productRow {
	background-color: white;
	font-size: 20;
}
.productRow img{
	height: 50;
}
.imgLogo {
	position: center center;
}
#btnbuy {
	width: 80px;
	height: 40px;
	font-size: 20px;
}
