
.margin_r20 { margin-right: 20px; }

.product_box {
	float: left;
	width: 200px;
	height: 300px;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #CCC;
	text-align: center;
}
.product_box img {
	margin-bottom: 10px;
}
.product_box h3 {
	color: #2a2522;
	font-size: 12px;
	margin: 0 0 10px;
}
.product_box p {
	margin-bottom: 5px;
	position: relative;
}
.product_box p span {
	color: #cf5902;
	font-size: 12px;
	font-weight: bold;
}
/* .product_box .price {
	width: 100px;
	bottom: 0%;
	left: 0%;
	position: relative;	
} */

.closer-size-shop {
	width: 70%;
	display: inline-block;
	position: relative;
	bottom: 15%;	
	left: 25%;
}
.closer-size-shop div {
	display: block; 
	padding: 3px;  
	float: left; 
   font-family: Verdana, Arial, Helvetica, sans-serif; 
   font-size: 11px; 
   font-weight: bold
}
.closer-size-shop div a {
   display: block; 
   padding: 2px;
    color: black; 
   text-decoration: none;
}
.closer-size-shop div a:hover {
	/* border: 1px solid #999; */
	color: red; 
}

#content_middle {	
	width: 1000px;
	padding: 10% 20%;
	text-align: justify;
	position: relative;
}
